* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none
}

a {
  font-weight: 500;
  color: currentColor;
  text-decoration: inherit;
}

a:hover {
  color: #9a9fff;
}

a.active {
  color: #4b54fc;
}

.container {
  margin: 2rem 0
}

.nav-bar {
  background-color: coral;
  color: #fff;
  padding: 1rem;
}

.nav_link {
  display: flex;
  gap: 1rem;
  justify-content: center;
}